.landingpg{
  //margin-top: -50px;
  background-image: url("sexy.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-field{
    position: relative;
    top:30%;
    //border: 2px solid red;
    width:70%;
    height: 200px;
    margin: 0 auto;
}

.form-control{
    border: 2px solid hotpink;
    background-color: transparent;
}

.btn-outline-primary{
    
    margin-top: 30px;
    width: 200px;
    border: 2px solid hotpink;
    border-radius: 10px;
    color: hotpink;
}

.btn-outline-primary:hover{
    background-color: hotpink;
    color: white;
}
