.landingpg{
    
  background-image: url("orange.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-field{
    position: relative;
    top:30%;
    //border: 2px solid red;
    width:500px;
    height: 300px;
    margin: 0 auto;
}

.form-group input{
    background-color: transparent;
    border: 2px solid yellow;
}

.btn-primary{
 background-color: transparent;
border: 2px solid yellow;
color: black;
}

.btn-primary:hover{
    color: blue;
    background-color: yellow;
    
}

